.textDiv{
    position: relative;
    top: -100px;
    left: 15px;
    border-radius: 10px;
    border: 1px solid #CCC;
    margin: 0px;
    padding: 0px;
    width: 100px;
}

.buttonDiv{
    position: relative;
    left: 515px;
    top: -145px;
}

.textareaDiv{
    position: relative;
    top: -100px;
    left: 15px;
}

.contentBody{
    background-color: #595959;
    position: relative;
    top:180px;
    border-radius: 10px;
    border: 1px solid #CCC;
    width: 600px;
    height: 700px;
}

.lift-content{
    height: 600px;
    width: 600px;
    float: left;
}

.pageNumber ul li {
    text-align: center;
    width: 40px;
    height: 20px;
    margin-left: 20px;
    list-style: none;
    float: left;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #CCC;
}

.pageNumber{
    position: absolute;
    left: 100px;
    top: 625px;
}

.right-content{
    position: absolute;
    left: 666px;
    width: 266px;
    height: 600px;
    background-color: #595959;
    border-radius: 10px;
    border: 1px solid #CCC;
}

.imgDiv{
    margin-left: 80px;
    margin-top: 40px;
}

.selects{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 225px;
    height: 30px;
    text-indent:5.5em;
    border-radius: 10px;
    border: 1px solid #CCC;
    margin-left: 20px
}

.rightButtonDiv{
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
}