.dataHead{
	width: 108.3%;
	height: 300px;
	float: left;
	background-color: #cccccc;
	position: relative;
	left: -40px;

}
.backgroundWall{
	width: 100%;
	height: 180px;
	
}

.photo{
	height: 90px;
	width: 90px;
	border-radius: 100px;
	position: relative;
	bottom: 45px;
	left: 30px;
}
.nickName{
	width: 250px;
	height: 25px;
	font-weight: 900;
	font-size: 20px;
	color: black;
	position: relative;
	bottom: 90px;
	left: 130px;
}
.sex{
	width: 15px;
	height: 15px;
	position: relative;
	bottom: 80px;
	left: 130px;
}
.age{
	width: 50px;
	height: 15px;
	position: relative;
	bottom: 103px;
	left: 155px;
}
.adress{
	width: 200px;
	height: 15px;
	position: relative;
	bottom: 118px;
	left: 200px;
}
.intro{
	width: 300px;
	height: 15px;
	position: relative;
	bottom: 100px;
	left: 130px;
}
.intro span{
	font-size: 16px;
	font-weight: 600;
}
.wallet{
	width: 200px;
	height: 80px;
	position: relative;
	bottom: 160px;
	left: 800px;
	font-size: 1.5em;

}
.wallet span{
	font-weight: 600;
	font-size: 1.1em;
	color: black;
}
.walletButton{
	width: 20px；
	height:3px;
	border-width: 0px;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
	color: white;
	font-size: .6em;
	background-color: blue;
	position: relative;
	top: 10px;
	left: 10px;

}

/*.......................................*/

.dataBody{
	width: 108.3%;
	height: 1000px;
	float: left;
	position: relative;
	left: -40px;
	filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;

}
.dataBodyPlus{
	width: 108.3%;
	height: 1000px;
	float: left;
	position: absolute;
	top: 390px;
	left: -40px;
}
.dataBody_head{
	width: 100%;
	height: 25px;
	float: left;
}
.head{
	background-color: white;
	width: 120px;
	height: 30px;
	float: left;
	position: relative;
	top: 10px;
	left: 305px;
	border-radius: 20px;
	text-align: center;
	line-height: 30px;
	color: #cccccc;
	font-size: 1.5em;
	background-color:rgba(0,0,0,0.1);
}
.head:hover{
	background-color: blue;
	background-color:rgba(0,0,0,0.3);
	color: white;
}
select{
	border-radius: 10px;
	border-width: 0px;
	width: 100px;
	height: 20px;
	color: white;
	background: rgba(0,0,0,0.2);
}


/*.......................................*/

.order{
	width: 100%;
	height: 150px;
	float: left;
}
.order_top{
	width: 100%;
	height: 125px;
	background-color:#cccccc;
	background:rgba(0,0,0,0.25);
	border-radius: 15px;
}
.order_bottom{
	width: 100%;
	height: 25px;
}
.order_photo{
	width: 75px;
	height: 75px;
	border-radius: 100px;
	position: relative;
	top: 25px;
	left: 25px;
}
.order_top_text1{
	color: black;
	font-weight: 800;
	font-size: 1.5em;
	position: relative;
	left: 50px;
	bottom: 25px;
}
.order_top_text2{
	color: #cc3333;	
	font-size: 1.1em;	
	position: relative;
	left: 100px;
	bottom: 28px;
}
.order_top_text3{
	color: #333;	
	font-size: 1.1em;	
	position: relative;
	right: 265px;
	
}
.order_top_text4{
	color: #333;	
	font-size: 1.1em;	
	position: relative;
	right: 300px;
	top: 30px;
	
}
.order_top_text5{
	color: #333;	
	font-weight: 600;
	font-size: 1.3em;	
	position: relative;
	right: 270px;
	top: 20px;
	
}